body2{
	padding: 0;
	margin-top: 0;
	overflow-y:scroll;
	font-family: 'Livvic', sans-serif;
	font-size: 14px;
	text-decoration: none;
	min-width: 100%;	
	text-align:center;
}
body{

	background: white; 							/*@Background color	*/
	min-width:605px;			/*starts scrolling*/
	overflow:scroll;
	text-align:center;
}
a:link {color:84d2f1;}      	/* unvisited link */
a:visited {color:84d2f1;}  						/* visited link */
a:hover {color:#eda845;}  						/* mouse over link */
a:active {color:yellow;}  						/* selected link */
#nav{
	min-width: 100%;
	text-align:center;
}
#nav ul{

	list-style-type: none;
	white-space: nowrap;/*prevents menu items from wrapping*/
	
	padding: 0;
	margin: 0;
	position: fixed;
	border:5px solid 0e50b6;  					/* @Bubble-border */
	border-radius:5px;
	z-index:6;
	
	background-color: f9f6f1;    		/* @Bubble-BG */
	opacity:0.9;
	filter:alpha(opacity=90);/* For IE8 and earlier */
}
#nav ul li{

	display: inline-block;
/*	background-color: f9f6f1;    		/* @Bubble-BG */
	padding-left:10px;
	padding-right:10px;
	opacity:0.9;
	filter:alpha(opacity=90);/* For IE8 and earlier */
}
#nav ul li:hover{

	background-color: eda845;   				/*@Active-link-BG*/
	color:black;								/*@text-color-nav	*/
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
#nav ul li a,visited{

	color: black;			  					/*@text-color-nav	*/
	display: block;
	padding: 5px;
	text-decoration: none;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
#nav ul li a:hover{
	color: black;   							/*@text-color-nav	*/
	text-decoration: none;
}
#nav ul li:hover ul{
	color:black;    							/*@text-color-nav	*/
	display:block;
}
#nav ul li:hover{
	color: black;   							/*@text-color-nav	*/
	text-decoration:none;
}
#nav ul ul{
	display: none;
	position: fixed;
	background-color: f9f6f1;     				/* @Bubble-BG */
	border: 5px solid 0e50b6;  					/* @Bubble-border */
	margin-left: -15px;
}
#nav ul ul li{
	display: block;
}
#nav ul ul li a,visited{

	color: black;   							/*@text-color-nav	*/
}
#bg{
	z-index:-2;
	position: fixed;
	top: 0px;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	opacity:.1;
	filter:alpha(opacity=10); /* For IE8 and earlier */
}
#centered{

	position:relative;
	top: 60px;
	width:605px;
	margin-left: auto;
	margin-right: auto;
	
	font-family: 'Livvic', sans-serif;
	color: black;                  				/*@text-color-norm*/
	padding: 20px;
	text-align:center;
	
	border: 2px solid #896b3a;					/* @Bubble-border 0e50b6*/
	border-radius:7px;

	background-color: rgba(249, 246, 241, .8);     				/* @Bubble-BG */
}
#centered img{

	max-width: 100%;
	max-height:280px;

}
#centered-text{
	
	font-size:18px;
	height:120px;
	overflow-y:hidden;
	
}
#centered h2{

	font-size:30px;
	text-align:left;
	padding-left:25px;
}
#centered h3{

	font-size:20px;
	text-align:center;
}
